---
// Content for the "Meet me!" section
import Button from "../../common/Button.astro";

const resumeUrl = "/resume";
// const contactUrl = "/contact";
---

<h2 slot="title" class="about-title scroll-target-title">I. IN THE BEGINNING</h2>

<div class="about-content scroll-target-content">
  <p>
    Neverleave.<br />
    In the beginning, dear sister<br />
    it was called the Neverleave tree.<br />
    Unrusted, unfallen.
  </p>

  <p>
    It protected boys and cradled men;<br />
    the trunk, each branch, all leaves they sang
  </p>

  <p>
    In the beginning<br />
    there was no mind or will,
  </p>

  <p>
    elephants slowly brushed against the bark,<br />
    while out in the land, the devils<br />
    rode on shoulders of stone
  </p>

  <p>
    but soon there would be no tusk left,<br />
    only wars against fantasy
  </p>

  <p>
    Then came the cut, a single man, an axe so cold<br />
    so harsh and sharp a wound so dark,<br />
    a change of pace a change of mind,<br />
    each leaf now hesitating<br />
    to hang,<br />
    to cling,<br />
    to carry on to sing.
  </p>

  <p>
    The human hand, it tore it down.
  </p>

  <p>
    But I touched the skin of the elephant's body<br />
    as it placed me on its back and we walked away<br />
    and forgot about the forest, the trees, the leaves,<br />
    the storm,<br />
    the fires,<br />
    the darkness of the human hand,<br />
    their axes, and their growing hate.
  </p>

  <p>
    We walked as rain fell<br />
    and the sun set like it always does.
  </p>

  <p>
    Yet the leaves of the Neverleave never fell.<br />
    Even at the verge of autumn<br />
    and the edge of winter's fur<br />
    our dear tree still did not shed a branch nor tear.
  </p>

  <p>
    Was it a rebel tree; a true lover's tree?<br />
    A house, a tusk, a neck like a tall brother?<br />
    Dusk brings solace to the terror of day.
  </p>
</div>

